div.w3-modal.w3-show.w3-padding-large
	div.w3-modal-content.animate_animated.animate__fadeInUp.animate__faster
		form#formNegocio(method="POST" enctype="multipart/form-data" autocomplete="off")
			h1.w3-center.w3-padding-large.w3-xlarge
				b Registro de Negocio
			div.w3-row
				div.w3-twothird.w3-rightbar
					fieldset.w3-border-0.w3-border-bottom
						legend.w3-large.w3-padding
							b Nombre:
						div.input
							div.icono
								span.icon-edit
							input(
								type="text"
								name="nombreNegocio"
								placeholder="Nombre del Negocio"
								autocapitalize="words"
								required
								minlenght="4"
								maxlenght="20"
							)
					fieldset.w3-border-0.w3-border-bottom
						legend.w3-large.w3-padding
							b RIF:
						div.input
							div.icono
								span.icon-edit
							input(
								type="text"
								name="rif"
								placeholder="RIF del Negocio"
								autocapitalize
								required
								minlenght="10"
								maxlenght="16"
								pattern="^(v|e|V|E){1}\\d{9,15}$"
								title="Debe empezar por V o E seguido de entre 9 y 15 dígitos"
							)
					fieldset.w3-border-0.w3-border-bottom
						legend.w3-large.w3-padding
							b Teléfono:
						div.input
							div.icono
								span.icon-edit
							input(
								type="text"
								name="telefono"
								placeholder="Teléfono de contacto"
								minlenght="11"
								maxlength="16"
								pattern="^(0|+57|+58)\\s?-?(412|414|424|416|426)-?\\d{3}-?\\d{4}"
								title="Ejemplo (+58 416-111-2222 o 0416-111-2222)"
							)
					fieldset.w3-border-0.w3-border-bottom
						legend.w3-large.w3-padding
							b Dirección:
						div.input
							div.icono
								span.icon-edit
							input(
								type="text"
								name="direccion"
								placeholder="Dirección del negocio"
								maxlength="50"
								pattern="^([\\w,.-#/]\\s?){0,50}$"
								title="Sólo se permiten letras, números y símbolos (, . - / #)"
							)
					div.w3-container.w3-margin
						button.w3-button.w3-block.w3-teal.w3-round-large Registrar
							div.w3-large.w3-margin-left.icon-refresh.w3-spin.w3-hide
				div.w3-third.formFoto.w3-center
					label(for="registroLogo").w3-display-container.w3-hover-opacity
						span.icon-camera.w3-xxxlarge.w3-display-middle.w3-display-hover.w3-animate-opacity
						input#registroLogo.w3-hide(type="file" name="foto")
						img.w3-image.image-result(src="imagenes/logoNegocio.jpg" style="width: 150px")
					div.w3-panel
						p.w3-medium
							b Logotipo del negocio
						p.w3-small.w3-text-blue
							b Opcional
script
	include js/registrarNegocio-compiled.js