div.w3-modal.w3-show.w3-padding-large
	form#registrarNegocio.w3-modal-content.w3-padding-top10.w3-round-xlarge.w3-border-scroll(
		method='POST'
		enctype='multipart/form-data'
		autocomplete='off'
	)
		h1.w3-center.w3-oswald
			b REGISTRE UN NEGOCIO
		div.w3-step-container
			span.w3-step.w3-teal 1
			span.w3-step 2
		div.w3-row.w3-margin-top.w3-topbar
			div.w3-twothird.w3-rightbar.w3-bottombar
				fieldset.w3-border-0
					legend.w3-large.w3-padding
						b Nombre:
					div.w3-row.w3-border-bottom.w3-center
						div.icon-edit.w3-col.s2.w3-xxlarge.w3-teal
						div.w3-col.s8.w3-display-container
							input#nombreNegocio.w3-input.w3-border-0.w3-large(
								name='nombreNegocio'
								placeholder='Nombre del Negocio'
								autocapitalize='words'
								required
								minlenght='4'
								maxlenght='20'
								pattern='[a-zA-Z0-9\\s]{4,20}'
								title='Sólo se permiten entre 4 y 20 letras, números y espacios'
							)
						div.w3-rest.w3-xxlarge.w3-text-green.icon-check.w3-animate-zoom.w3-hide
						div.w3-rest.w3-xxlarge.w3-text-red.icon-close.w3-animate-zoom.w3-hide
				fieldset.w3-border-0
					legend.w3-large.w3-padding
						b RIF:
					div.w3-row.w3-border-bottom.w3-center
						div.icon-edit.w3-col.s2.w3-xxlarge.w3-teal
						div.w3-col.s8.w3-display-container
							input#rif.w3-input.w3-border-0.w3-large(
								name='rif'
								placeholder='RIF del Negocio'
								autocapitalize
								required
								minlenght='10'
								maxlenght='16'
								pattern='(v|e|V|E){1}\\d{9,15}'
								title='Debe empezar por V o E seguido de entre 9 y 15 dígitos'
							)
						div.w3-rest.w3-xxlarge.w3-text-green.icon-check.w3-animate-zoom.w3-hide
						div.w3-rest.w3-xxlarge.w3-text-red.icon-close.w3-animate-zoom.w3-hide
				fieldset.w3-border-0
					legend.w3-large.w3-padding
						b Teléfono:
					div.w3-row.w3-border-bottom.w3-center
						div.icon-edit.w3-col.s2.w3-xxlarge.w3-teal
						div.w3-col.s8.w3-display-container
							input#telefono.w3-input.w3-border-0.w3-large(
								type='tel'
								name="telefono"
								placeholder='Teléfono de contacto'
								minlenght='11'
								maxlength='16'
								pattern='(0|\\+57|\\+58)[\\s-]?(412|414|424|416|426)-?\\d{3}-?\\d{4}'
								title='Ejemplos de teléfonos válidos (0416-111-1111 o +57-1119999)'
							)
						div.w3-rest.w3-xxlarge.w3-text-green.icon-check.w3-animate-zoom.w3-hide
						div.w3-rest.w3-xxlarge.w3-text-red.icon-close.w3-animate-zoom.w3-hide
				fieldset.w3-border-0
					legend.w3-large.w3-padding
						b Dirección:
					div.w3-row.w3-border-bottom.w3-center
						div.icon-edit.w3-col.s2.w3-xxlarge.w3-teal
						div.w3-col.s8.w3-display-container
							input#direccion.w3-input.w3-border-0.w3-large(
								type='text'
								name='direccion'
								placeholder='Dirección del negocio'
								minlenght='4'
								maxlength='50'
								pattern='[\\w\\s,.-/#]{4,50}'
								title='Sólo se permiten entre 4 y 50 letras, números y símbolos (, . - / #)'
							)
						div.w3-rest.w3-xxlarge.w3-text-green.icon-check.w3-animate-zoom.w3-hide
						div.w3-rest.w3-xxlarge.w3-text-red.icon-close.w3-animate-zoom.w3-hide
				div.w3-container.w3-margin
					button.w3-button.w3-block.w3-teal.w3-round-large Registrar
						div.w3-large.w3-margin-left.icon-refresh.w3-spin.w3-hide
			div.w3-third.w3-center
				div.w3-container.w3-margin-top
					b.w3-block.w3-medium Logotipo del negocio
					b.w3-block.w3-small.w3-text-blue Opcional
				label(for='logo').w3-block.w3-display-container.w3-hover-opacity
					span.icon-camera.w3-xxxlarge.w3-display-middle.w3-display-hover
					img.w3-image.image-result.w3-round-large(
						src='assets/images/logoNegocio.jpg'
						style='width: 150px'
					)
				input#logo.w3-hide(type='file' name='logo' accept='.jpeg, .jpg, .png')
				label.w3-button.w3-teal.w3-round-large(for="logo") Sube un logo